@charset "UTF-8";

@font-face {
  font-family: "Pingfang";
  src: url("Pingfang.woff2") format("woff2"),
       url("Pingfang.woff") format("woff"),
       url("Pingfang.ttf") format("truetype"),
       url("Pingfang.eot") format("embedded-opentype"),
       url("Pingfang.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}